<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Month</label>
  </div>
  {{!this is for admin use only}}
  <select class="custom-select" id="month" name="month">
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Year</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Tags</label>
  </div>
  <select class="custom-select" id="tags" name="tags">
    <option value="tag_1">tag_1</option>
    <option value="tag_2">tag_2</option>
    <option value="tag_3">tag_3</option>
    <option value="tag_4">tag_4</option>
    <option value="tag_5">tag_5</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Instructor</label>
  </div>
  <select class="custom-select" id="instructor" name="instructor">
    <option value="Teresa">Teresa</option>
    <option value="Tatiana">Tatiana</option>
    <option value="Kevin">Kevin</option>
    <option value="Tiereny">Tiereny</option>
    <option value="Miguel">Miguel</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Ratings</label>
  </div>
  <select class="custom-select" id="ratings" name="ratings">
    <option value="rating_1">1</option>
    <option value="rating_2">2</option>
    <option value="rating_3">3</option>
    <option value="rating_4">4</option>
    <option value="rating_5">5</option>
  </select>
  <div class="input-group-append">
   <button class="btn btn-outline-secondary" type="button" id="search" name="search">Search</button>
 </div>
</div>
