<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course</th>
        <th></th>
        <th>Start Date</th>
        <th>Instructor</th>
        <th>Tags</th>
        <th>Ratings</th>
      
    </thead>
    {{#data}}
      <tr>
        <td>{{{firstname}}}</td>
      <td style="width:20px;"><a href="/local/coursecatalogue/graderdetail.php?grader={{id}}&month={{month}}&year={{year}}"><i class="fa fa-arrow-circle-right fa-2x"></i></td>
      </tr>
    {{/data}}
  </table>
  {{^data}}
  <div class="card-body"><p>There are no results</p></div>
    {{/data}}
</div>
