<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Month</label>
  </div>
  {{!this is for admin use only}}
  <select class="custom-select" id="month" name="month">
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Year</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Tags</label>
  </div>
  <select class="custom-select" id="tags" name="tags">
    <option value="Regulatory Requirements">Regulatory Requirements</option>
    <option value="Compliance and Reporting">Compliance and Reporting</option>
    <option value="Best Practices and Operationalization">Best Practices and Operationalization</option>
    <option value="Ethics and Subject Safety">Ethics and Subject Safety</option>
    <option value="Data Management">Data Management</option>
    <option value="Communication and Collaboration">Communication and Collaboration</option>
    <option value="Professional Development">Professional Development</option>
    <option value="Grants, Research Funding, and Fiscal Responsibility">Grants, Research Funding, and Fiscal Responsibility</option>
    <option value="Personnel Management">Personnel Management</option>
    <option value="Project and Program Operations">Project and Program Operations</option>
    <option value="Scientific Concepts, Design, and Analysis">Scientific Concepts, Design, and Analysis</option>
    <option value="Communicating Science">Communicating Science</option>
    <option value="Clinical Research">Clinical Research</option>
    <option value="Lab Research">Lab Research</option>
    <option value="QI Program">QI Program</option>
    <option value="RCR Program">RCR Program</option>
    <option value="Qualitative and Mixed Methods Research">Qualitative and Mixed Methods Research</option>
    <option value="Biostats">Biostats</option>
    <option value="Bioinformatics">Bioinformatics</option>
    <option value="Global Health">Global Health</option>
    <option value="Omics">Omics</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Instructor</label>
  </div>
  <select class="custom-select" id="instructor" name="instructor">
    <option value="Teresa">Teresa</option>
    <option value="Tatiana">Tatiana</option>
    <option value="Kevin">Kevin</option>
    <option value="Tiereny">Tiereny</option>
    <option value="Miguel">Miguel</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Ratings</label>
  </div>
  <select class="custom-select" id="ratings" name="ratings">
    <option value="rating_1">1</option>
    <option value="rating_2">2</option>
    <option value="rating_3">3</option>
    <option value="rating_4">4</option>
    <option value="rating_5">5</option>
  </select>
  <div class="input-group-append">
   <button class="btn btn-outline-secondary" type="button" id="search" name="search">Search</button>
 </div>
</div>
