
<form action="index.php" method="GET">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Month</label>
  </div>
  
  <select class="custom-select" id="month" name="month">
    <option disabled selected value> </option>
    <option value="Jan">Jan</option>
    <option value="Feb">Feb</option>
    <option value="Mar">Mar</option>
    <option value="Apr">Apr</option>
    <option value="May">May</option>
    <option value="Jun">Jun</option>
    <option value="Jul">Jul</option>
    <option value="Aug">Aug</option>
    <option value="Sep">Sep</option>
    <option value="Oct">Oct</option>
    <option value="Nov">Nov</option>
    <option value="Dec">Dec</option>
  </select>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Year</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option disabled selected value> </option>
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
  </select>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Tags</label>
  </div>
  <select class="custom-select" id="tags" name="tags">
    <option disabled selected value> </option>
    <option value="Bioinformatics">Bioinformatics</option>
    <option value="Biostats">Biostats</option>
    <option value="Best Practices and Operationalization">Best Practices and Operationalization</option>
    <option value="Clinical Research">Clinical Research</option>
    <option value="Communication and Collaboration">Communication and Collaboration</option>
    <option value="Communicating Science">Communicating Science</option>
    <option value="Compliance and Reporting">Compliance and Reporting</option>
    <option value="Data Management">Data Management</option>
    <option value="Ethics and Subject Safety">Ethics and Subject Safety</option>
    <option value="Grants, Research Funding, and Fiscal Responsibility">Grants, Research Funding, and Fiscal Responsibility</option>
    <option value="Global Health">Global Health</option>
    <option value="Lab Research">Lab Research</option>
    <option value="Personel Management">Personel Management</option>
    <option value="Professional Development">Professional</option>
    <option value="Project and Program Operations">Project and Program Operations</option>
    <option value="Omics">Omics</option>
    <option value="QI Program">QI Program</option>
    <option value="RCR Program">RCR Program</option>
    <option value="Qualitative and Mixed Methods Research">Qualitative and Mixed Methods Research</option>
    <option value="Scientific Concepts, Design, and Analysis">Scientific Concepts, Design, and Analysis</option>
    <option value="Regulatory Requirements">Regulatory Requirements</option>
    <option value="online">online</option>
    </select>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Ratings</label>
  </div>
  <select class="custom-select" id="stars" name="stars">
    <option disabled selected value> </option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>

  <input type="text"  id="search" name="search" placeholder="Course Name">

  <div class="input-group-append">
   <button type="submit" class="btn btn-outline-secondary" >Search</button>
 </div>
 
</div>
</form>