<form action="index.php" method="GET">

<div class="input-group mb-3">
<div class="input-group-append">
  <button type="button" onclick="location.href='index.php'" class="btn btn-outline-secondary" >Reset</button>
</div>
<!--
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Month</label>
  </div>
  
  <select class="custom-select" id="month" name="month">
    <option selected value={{month}}>{{month}}</option>
    <option value="Jan">Jan</option>
    <option value="Feb">Feb</option>
    <option value="Mar">Mar</option>
    <option value="Apr">Apr</option>
    <option value="May">May</option>
    <option value="Jun">Jun</option>
    <option value="Jul">Jul</option>
    <option value="Aug">Aug</option>
    <option value="Sep">Sep</option>
    <option value="Oct">Oct</option>
    <option value="Nov">Nov</option>
    <option value="Dec">Dec</option>
  </select>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Year</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option selected value={{year}}>{{year}}</option>
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
  </select>
  -->
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Competency</label>
  </div>
  <select class="custom-select" id="competency" name="competency">
    <option selected value="{{competency}}">{{competency}}</option>
    <option value="accurate recordkeeping">Accurate Recordkeeping</option>
    <option value="clinical trials operations and gcps">Clinical Trials Operations and GCPs</option>
    <option value="communication and teamwork">Communication and Teamwork</option>
    <option value="data management and informatics">Data Management and Informatics</option>
    <option value="diversity and inclusion">Diversity and Inclusion</option>
    <option value="ethical and participant safety">Ethical and Participant Safety</option>
    <option value="leadership and professional development">Leadership and Professional Development</option>
    <option value="networking event">Networking Event </option>
    <option value="professional writing ">Professional Writing </option>
    <option value="project management">Project Management</option>
    <option value="regulations and compliance">Regulations and Compliance</option>
    <option value="responsible conduct of research">Responsible Conduct of Research</option>
    <option value="scientific concepts and study design">Scientific Concepts and Study Design</option>
    <option value="scientific lecture">Scientific Lecture </option>
    <option value="well-being and professional ulfillment">Well-being and Professional Fulfillment</option>
    
  </select>

  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Department</label>
  </div>
  <select class="custom-select" id="department" name = "department">
    <option selected value="{{department}}">{{departmentname}}</option>
    <option value="1">Center for Faculty Development</option>
    <option value="2">Division of Clinical Research</option>
  </select>

  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Programs</label>
  </div>
  <select class="custom-select" id="programs" name="programs">
    <option selected value="{{programs}}">{{programs}}</option>
    <option value="clinical skills for researchers">Clinical Skills for Researchers</option>
    <option value="learn something new">Learn Something New</option>
    <option value="qualitative and mixed methods ">Qualitative and Mixed Methods </option>
    <option value="research safety trainings">Research Safety Trainings</option>
    <option value="responsible conduct of research">Responsible Conduct of Research</option>
    <option value="statistical genetics">Statistical Genetics</option>
  </select>

  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Role</label>
  </div>
  <select class="custom-select" id="role" name="role">
    <option selected value="{{role}}">{{role}}</option>
    <option value="general audience">General Audience </option>
    <option value="investigator">Investigator</option>
    <option value="research study staff">Research Study Staff</option>
  </select>

  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Level</label>
  </div>
  <select class="custom-select" id="level" name="level">
    <option selected value="{{level}}">{{level}}</option>
    <option value="entry">Entry</option>
    <option value="intermediate">Intermediate</option>
    <option value="advanced">Advanced</option>
  </select>
  <!--
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Ratings</label>
  </div>
  <select class="custom-select" id="stars" name="stars">
    <option selected value={{stars}}>{{stars}}</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>
  -->
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Format</label>
  </div>
  <select class="custom-select" id="format" name = "format">
    <option selected value="{{format}}">{{format}}</option>
    <option value="live courses">Live Courses</option>
    <option value="on demand">On Demand</option>
  </select>

  <input type="text"  id="search" name="search" placeholder="Search">

  <div class="input-group-append">
   <button type="submit" class="btn btn-outline-secondary">Search</button>
 </div>
 
</div>
</form>
